* {
  margin: 0;
  padding: 0;
}
nav {
  height: 12vh;
  background-color: #343a40;
  position: sticky;
  top: 0;
  z-index: 999;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.flex_movie_logo {
  display: flex;
  font-size: 20px;
  justify-content: center;
  align-items: center;
  color: #565c67;
}

#movie_logo {
  font-size: 60px;
  color: rgb(5, 5, 145);
  cursor: pointer;
}
.Screen_page {
  display: flex;
  color: white;
}
.Router_page {
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
}
#search_bar {
  outline: none;
  border: none;
  border-top-left-radius: none;
  border-bottom-left-radius: none;
  height: 30px;
}
.input_icon {
  height: 35px;
  background-color: white;
}
#flex_input {
  display: flex;
}
#user {
  font-size: 16px;
  color: #565c67;
}
#user > span {
  font-size: 20px;
  margin-left: 5px;
}
#user_icon {
  cursor: pointer;
}
#login {
  margin-bottom: 100px;
  text-align: center;
  font-size: 40px;
  color: #343a40;
}
#input1 {
  margin-bottom: 30px;
  width: 100%;
  display: block;
}
#input2 {
  width: 100%;
  margin-bottom: 30px;

  display: block;
}
#input3 {
  width: 100%;
  margin-bottom: 30px;

  display: block;
}
#input1::placeholder {
  color: #565c67;
}

#input2::placeholder {
  color: #565c67;
}
#input3::placeholder {
  color: #565c67;
}

#login_btn {
  width: 30%;
  display: block;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 10px;
  background-color: #565c67;
}
#not_have_acount {
  display: block;
  width: fit-content;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 50px;
}
.Login_back_page {
  background-color: white;
  width: 40%;
  /* margin: auto; */
}
